<h1>{{title}}</h1>
<input class="search-field" name="query" placeholder="Search repositories..." 
 [(ngModel)]="searchQuery" (keyup.enter)="newSearch()"/>

<button class="search-button" (click)="newSearch()"> Submit </button>
<section *ngIf='searchResults; else loadingBlock'>
  <div *ngIf='searchResults.total_count > 0; else noResultsBlock'>
    <h3 class="total"> Total Results: 
      <span class="highlight">{{searchResults.total_count}}</span>
    </h3>
    <ul class="list">
      <li [ngClass]="{ 'pair-entry': i % 2 == 0 }" 
       *ngFor='let result of searchResults.items; index as i;'>
        <a [href]="result.owner.html_url">
          <img class="avatar" [src]='result.owner.avatar_url'/>
        </a>
        <div class="repository-details">
          <a [href]='result.html_url'>
            <h4 class="title">{{result.name | uppercase}}
              <small> by {{result.owner.login}} </small>
            </h4>
          </a>
          <p class="description"> {{result.description}}</p>
          <p class="date"> Created On: {{result.created_at | date:'fullDate'}}</p>
        </div>
      </li>
    </ul>
    <section>
      <button [attr.disabled]="navigationData.hasPrevious ? null : ''" (click)="previousPage()"> &lt; Previous </button>
      <button [attr.disabled]="navigationData.hasNext ? null : ''" (click)="nextPage()"> &gt; Next </button>
    </section>
  </div>
  <ng-template #noResultsBlock>
    <h3 class="no-results-warning"> No Results Found </h3>
  </ng-template>
</section>
<ng-template #loadingBlock>
  <h3>Loading...</h3>
</ng-template>