.search-field {
    border: 2px solid var(--dark-gray);
    padding: 6px 4px;
    font-size: 1.1em;
}
.search-field:focus {
    outline-color: gray;
}

.total {
    font-size: 1.4em;
}

.highlight {
    color: var(--sat-light-blue);
}

.list {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}
.list > li {
    border: 0;
    margin: 0;
    padding: 15px 10px;
    height: 180px;
}
@media(max-width: 700px){
    .list > li {
        padding: 15px 10px;
        height: 220px;
    }
    .list .avatar {
        margin: 35px 20px 40px 0;
    }
}
.list > .pair-entry {
    background-color:var(--lightest-yellow);
}

.avatar {
    height: 150px;
    float: left;
    border-radius: 5em;
    margin: 15px 20px 10px 0;
}

.list a {
    text-decoration: none;
    color: var(--sat-light-blue);
}
.list a:visited {
    color: var(--crimson-red);
}
.title {
    font-size: 1.2em;
}
.repository-details {
    margin: auto;
    text-align: center;
    width: 95%;
    display: block;
}
.description {
    line-height: 1.3em;
}
.date {
    font-style: italic;
    color: gray;
}