/* You can add global styles to this file, and also import other style files */
body {
    --dark-gray: #1d1d1d;
    --shaded-white: #e5e5e5;
    --crimson-red: #9b4439;
    --sat-light-blue: #3e92cc;
    --light-yellow: #e7dba7;
    --lightest-yellow: #f5f0d8;
    min-width: 500px;
}